<!DOCTYPE html>
<html>
<head>
		<meta charset="ISO-8859-1">
		<link rel="stylesheet" href="style.css">
		<title>SafePlace</title>
</head>
<body>

	    <header>
        <nav>
            <div class="brand"><a href=""><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;SafePlace</a></div>
            <ul>
                <li><a href="templates/index.html">Home</a></li>
                <li><a href="templates/login.html">Login</a></li>
                <li><a href="templates/register.html">SignUp</a></li>
                <li><a href="templates/profile.html">Profile</a></li>
            </ul>
        </nav>
    </header>
    
    
</body>
</html>