<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>

<body>
	<th:block th:include="/menu"></th:block> 
    <header>
        <nav>
            <div class="brand"><a href=""><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;SafePlace</a></div>
            
        </nav>
    </header>
	
	<input type="text" name="username" placeholder="username" reqired /> <br>
	<input type="password" name="password" placeholder="password" reqired /> <br>
	<input type="submit" value="Login" class="button" />

</body>

</html>