<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="style.css">
    <title>Password</title>
</head>

<body>

	
	<th:block th:include="/menu"></th:block> 
    <header>
        <nav>
            <div class="brand"><a href=""><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;SafePlace</a></div>
            <ul>
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/register}">SignUp</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/password}">Password</a></li>
            </ul>
        </nav>
    </header>
    
    <table>
		  <tr>
		    <th>Website</th>
		    <th>Password</th>
		  </tr>
		  <tr>
		    <td>Amazon</td>
		    <td>1234</td>
		  </tr>
		  <tr>
		    <td>Facebook</td>
		    <td>3124</td>
		  </tr>
	</table>
    


</body>

</html>