
<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password</title>
    
	    <style type="text/css">
					
						.center{
								margin-left: auto;
  								margin-right: auto;
						}
						

										
				
		</style>
					    



</head>

<body style="background-color: #678271;">

	
		<th:block th:include="/menu"></th:block> 
    <header>
        <nav>
            <div class="brand"><a href=""><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;SafePlace</a></div>
            <ul>
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/register}">SignUp</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/password}">Password</a></li>
            </ul>
        </nav>
    </header>

		    <table class="table table-bordered" border="3px">
		  <tr>
		    <th>Company</th>
		    <th>Password</th>
		  </tr>
		  <tr>
		    <td>Amazon</td>
		    <td>PaSs123WoRd</td>
		  </tr>
		  <tr>
		    <td>Facebook</td>
		    <td>Password23451</td>
		  </tr>
		</table>
		
</body>

</html>