
<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
   
    <title>Password</title>
    
	    <style type="text/css">
				
					
					body {
					  padding: 20px;
					}
					
					.thing {
					  margin: 20px;
					  padding: 20px;
					  background: lightyellow;
					  border: 1px solid green;
					}
					.thing2 {
					  opacity: 0;
					}
					.m-fadeOut {
					  visibility: hidden;
					  opacity: 0;
					  transition: visibility 0s linear 300ms, opacity 300ms;
					}
					.m-fadeIn {
					  visibility: visible;
					  opacity: 1;
					  transition: visibility 0s linear 0s, opacity 300ms;
					}
	    </style>
	    

		<script type="text/javascript" src="SafePlace/src/main/recources/templates/JavaScript/password.js"></script>

</head>

<body>

	
	<th:block th:include="/menu"></th:block> 
    <header>
        <nav>
            <div class="brand"><a href=""><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;SafePlace</a></div>
            <ul>
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/register}">SignUp</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/password}">Password</a></li>
            </ul>
        </nav>
    </header>

    
<button id="tog" onclick="fun()">toggle them fancy classes</button>

<div id="thing" class="thing">I toggle m-fadeOut</div>

<div id="thing2" class="thing thing2">I toggle m-fadeIn</div>

</body>

</html>