
<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends</title>
    
	    <style type="text/css">
					
						.center{
								margin-left: auto;
  								margin-right: auto;
						}
						

										
				
		</style>
					    



</head>

<body style="background-color: #678271;">

	
		<th:block th:include="/menu"></th:block> 
    <header>

    </header>

		    <table class="table table-bordered table-dark" border="3px">
		  <tr>
		    <th>Friends</th>
		    <th>ID</th>
		  </tr>
		  <tr>
		    <td><a href="/friendspassword">Felix</a></td>
		    <td>#1657</td>
		  </tr>
		  <tr>
		    <td><a href="/friendspassword">Lukas</a></td>
		    <td>#7823</td>
		  </tr>
		</table>
		
</body>

</html>