
<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends Password</title>
    
	    <style type="text/css">
					
						.center{
								margin-left: auto;
  								margin-right: auto;
						}
						

										
				
		</style>
					    



</head>

<body style="background-color: #678271;">

	
		<th:block th:include="/menu"></th:block> 
    <header>

    </header>

		    <table class="table table-bordered table-dark" border="3px">
		  <tr>
		    <th>Website</th>
		    <td>Username</td>
		    <th>Password</th>
		  </tr>
		  <tr>
		    <td><a href="https://www.tiktok.com/" target="_blank">TikTok</a></td>
		    <td>FelixUser</td>
		    <td>PaSs123WoRd</td>
		  </tr>
		  <tr>
		    <td><a href="https://de-de.facebook.com/" target="_blank">Facebook</a></td>
		    <td>FelixUser</td>
		    <td>Password23451</td>
		  </tr>
		  <tr>
		    <td><a href="https://webuntis.com/" target="_blank">Webuntis</a></td>
		    <td>FelixUser</td>
		    <td>PasSWord251</td>
		  </tr>
		  <tr>
		    <td><a href="https://www.sfv.at/" target="_blank">SFV</a></td>
		    <td>FelixUser</td>
		    <td>Michi231!</td>
		  </tr>
		</table>
		
</body>

</html>