<!DOCTYPE html>
<html>

	<head>
	    <meta charset="ISO-8859-1">
	    <link rel="stylesheet" href="style.css">
	    <title>SafePlace</title>
	</head>

	<body style="background-color: #678271;">
		
	
	  
		<th:block th:include="/menu"></th:block> 
	    <header>
	        <nav>
	            <div class="brand"><a href=""><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;SafePlace</a></div>
	            <ul>
	
	            </ul>
	        </nav>
	    </header>
	    
	    
	              <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>John Doe</h4>
                      <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                    </div>
                  </div>
                </div>
              </div>
	
	
	</body>

</html>